// ------------------------------
//  Variables
// ------------------------------
$background: #3F3B51;
$blue: #38C6E5;
$green: #7fd378;
$purple: #804DD4;
$red: #D44D4D;
$yellow: #ffcc00;
$black: black;
$white: white;

// $box-shadow: 1px 2px 0 darken($background, 5%), 2px 4px 6px darken($background, 25%);

// $box-shadow-hover: 1px 2px 0 darken($background, 5%), 3px 6px 6px darken($background, 25%);

$box-shadow: 1px 1px 3px #3f3b51,
    1px -1px 3px #3f3b510e,
    -1px 1px 3px #3f3b510e,
    -1px -1px 3px #3f3b510e;

$box-shadow-hover: 1px 1px 3px #3f3b51a2,
    1px -1px 3px #3f3b51a2,
    -1px 1px 3px #3f3b51a2;

main {
    max-width: 1920px;
}

// ------------------------------
//  Hero Section  
// ------------------------------
@media screen and (min-width: 0px) {

    #hero {
        position: relative;
        width: 96%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: 100%;
        margin-top: 25px;

        .text {
            h1 {
                font-size: clamp(2.75em, 12vw, 4em);
                width: auto;
                text-align: center;
                font-weight: 700;
                margin-bottom: 25px;
            }

            p {
                line-height: 1.75;
                padding: 0 5vw;
                text-align: center;
                max-width: 500px;
                margin-bottom: 35px;
                font-size: 1.125em;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            justify-content: center;

            a {
                padding: 15px 30px;
                border-radius: 7.5px;
                color: #000000;
                margin-right: 20px;
                box-shadow: $box-shadow;
                border-color: 1px solid lightgray;
                min-width: 125px;
                transition: 0.3s;
                text-align: center;

                &:hover {
                    box-shadow: $box-shadow-hover;
                }
            }

            .contact-btn {
                background-color: $yellow;
            }

            .services-btn {
                background-color: $white;
            }
        }
    }

    .hero-guy {
        // display: none;
    }
}



// ------------------------------
//  What We Do Section  
// ------------------------------
@media screen and (min-width: 0px) {

    .what-we-do-top-blob {
        display: block;
        background-image: url('./images/what-we-do-top-mobile-blob.png');
        background-size: contain;
        background-repeat: no-repeat;
        height: 600px;
        width: 100%;
        margin-top: 50px;

        //         display: block;
        // content: '';
        // position: absolute;
        // background-image: url('./images/what-we-do-top-mobile-blob.png');
        // background-size: contain;
        // background-repeat: no-repeat;
        // width: 60%;
        // height: 60%;
        // bottom: 25px;
        // left: -75px;
        // opacity: .5;
    }

    //     // Buttons
    //     div {
    //         display: flex;
    //         flex-direction: row;
    //         padding: 5px;
    //         z-index: 5;
    //         color: #1f1f1f;

    //         .btn:nth-child(1) {
    // padding: 7.5px 15px;
    // background-color: #ffcc00;
    // border-color: 1px solid lightgray;
    // box-shadow: $box-shadow;

    // border-radius: 7.5px;
    // min-width: 125px;
    // text-align: center;
    // transition: 0.3s;

    //         }

    //         .btn:nth-child(2) {
    // padding: 7.5px 15px;
    // background-color: white;
    // border-radius: 7.5px;
    // box-shadow: $box-shadow;
    // min-width: 125px;
    // text-align: center;
    // transition: 0.3s;
    //         }

    //         .btn {
    //             margin: 0 7.5px;

    //             &:hover {
    //                 box-shadow: $box-shadow-hover;
    //                 transition: 0.2s;
    //             }
    //         }

    //     }

    //     .hero-guy {
    //         display: none;
    //         overflow-x: hidden;
    //     }
    // }

    // .hero-blob {
    //     background-image: url("/images/hero-blob-mobile.png");
    //     width: 100%;
    //     background-repeat: no-repeat;
    //     background-size: contain;
    //     background-position: bottom;
    //     height: 65vw;
    //     position: relative;
    //     display: block;
    //     bottom: 0;
    // }


    // @media only screen and (min-width: 768px) {
    //     #hero {
    //         position: relative;
    //         width: auto;
    //         display: block;
    //         left: 35px;
    //         z-index: 5;
    //         margin-bottom: -100px;

    //         h1 {
    //             text-align: left;
    //             padding: 0;
    //         }

    //         p {
    //             text-align: left;
    //             padding: 0;
    //         }

    //         .btn {
    //             margin: 0 !important;
    //             margin-right: 15px !important;
    //         }

    //     }

    //     .hero-guy {
    //         background-image: url('./images/hero-guy.png');
    //         background-repeat: no-repeat;
    //         background-size: contain;
    //         background-position: bottom;
    //         width: 100%;
    //         min-height: 300px;
    //         height: 40vw;
    //         max-height: 750px !important;
    //         position: absolute;
    //         overflow: hidden;
    //         right: -275px;
    //         bottom: 200px;
    //         z-index: 2;
    //     }

    //     .hero-blob {
    //         background-image: url("/images/hero-blob.png");
    //         height: 27vw;
    //         max-height: 450px;
    //     }
    // }

    // @media only screen and (min-width: 1300px) {
    //     #hero {
    //         align-items: start;
    //         z-index: 5;
    //         margin: 0 auto;
    //         left: 100px;
    //         margin-bottom: -100px;
    //         overflow: visible;


    //         h1 {
    //             position: relative;
    //             font-size: clamp(1.75em, 5vw, 5em);
    //             padding: 0;
    //             text-align: left;
    //             width: auto;
    //             min-width: 800px;
    //             z-index: 5;
    //             margin-top: -20px;

    //         }

    //         P {
    //             position: relative;
    //             padding: 0;
    //             text-align: left;
    //             width: auto;
    //             z-index: 5;
    //             font-size: 1.125em;
    //         }

    //         div {
    //             position: relative;
    //             z-index: 5;
    //         }
    //     }

    //     .hero-guy {
    //         bottom: 225px;
    //         right: -350px;
    //     }

    // }

}