main,
header {
  max-width: 1920px;
  background-color: white;
}

@media screen and (min-width: 850px) {
  .hero-text-container,
  .text h1,
  .hero-guy {
    transition: 0.3s;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  #hero {
    position: relative;
    width: 98%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-top: 25px;
    margin-bottom: 40px;
  }
  .hero-text-container {
    position: relative;
    z-index: 200;
  }
  .hero-text-container .text h1 {
    font-size: clamp(2.75em, 12vw, 3.5em);
    width: auto;
    text-align: center;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .hero-text-container .text p {
    line-height: 1.75;
    padding: 0 4vw;
    text-align: center;
    max-width: 600px;
    margin-bottom: 35px;
    font-size: 1.125em;
  }
  .hero-text-container .buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .hero-text-container .buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    margin-right: 20px;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .hero-text-container .buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .hero-text-container .buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
  }
  .hero-text-container .buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
  }
  .hero-guy {
    display: none;
  }
}
@media screen and (min-width: 850px) and (max-width: 999px) {
  #hero {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -15px;
  }
  .hero-text-container {
    position: relative;
    z-index: 200;
    margin-left: 25px;
  }
  .hero-text-container .text h1 {
    font-size: clamp(2.75em, 12vw, 3.5em);
    width: auto;
    text-align: left;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .hero-text-container .text p {
    line-height: 1.75;
    text-align: left;
    max-width: 395px;
    margin-bottom: 35px;
    font-size: 1.125em;
  }
  .hero-text-container .buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 999;
  }
  .hero-text-container .buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    margin-right: 20px;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .hero-text-container .buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .hero-text-container .buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
  }
  .hero-text-container .buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
  }
  .hero-guy {
    background-image: url("./images/hero-guy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    min-height: 300px;
    height: 55vw;
    max-height: 450px;
    position: absolute;
    right: -250px;
    top: -65px;
    z-index: 100;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  #hero {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    margin-bottom: -25px;
  }
  .hero-text-container {
    position: relative;
    z-index: 999;
    margin-left: 50px;
    margin-top: 25px;
  }
  .hero-text-container .text h1 {
    font-size: clamp(2.75em, 12vw, 3.5em);
    width: auto;
    text-align: left;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .hero-text-container .text p {
    line-height: 1.75;
    text-align: left;
    max-width: 395px;
    margin-bottom: 35px;
    font-size: 1.125em;
  }
  .hero-text-container .buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 999;
  }
  .hero-text-container .buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    margin-right: 20px;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .hero-text-container .buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .hero-text-container .buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
  }
  .hero-text-container .buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
  }
  .hero-guy {
    background-image: url("./images/hero-guy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    min-height: 300px;
    height: 55vw;
    max-height: 500px;
    position: absolute;
    right: -250px;
    top: -65px;
    z-index: 100;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1349px) {
  #hero {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  .hero-text-container {
    position: relative;
    z-index: 999;
    margin-left: 60px;
    margin-top: 25px;
  }
  .hero-text-container .text h1 {
    font-size: clamp(2.75em, 12vw, 4em);
    width: auto;
    text-align: left;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .hero-text-container .text p {
    line-height: 1.75;
    text-align: left;
    max-width: 500px;
    margin-bottom: 35px;
    font-size: 1.125em;
  }
  .hero-text-container .buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 999;
  }
  .hero-text-container .buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    margin-right: 20px;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .hero-text-container .buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .hero-text-container .buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
  }
  .hero-text-container .buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
  }
  .hero-guy {
    background-image: url("./images/hero-guy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    min-height: 300px;
    height: 55vw;
    max-height: 525px;
    position: absolute;
    right: -300px;
    top: -65px;
    z-index: 100;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1499px) {
  #hero {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 100px;
  }
  .hero-text-container {
    position: relative;
    z-index: 999;
    margin-left: 75px;
    margin-top: 25px;
  }
  .hero-text-container .text h1 {
    font-size: clamp(2.75em, 12vw, 4.5em);
    width: auto;
    text-align: left;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .hero-text-container .text p {
    line-height: 1.75;
    text-align: left;
    max-width: 550px;
    margin-bottom: 35px;
    font-size: 1.125em;
  }
  .hero-text-container .buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 999;
  }
  .hero-text-container .buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    margin-right: 20px;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .hero-text-container .buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .hero-text-container .buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
  }
  .hero-text-container .buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
  }
  .hero-guy {
    background-image: url("./images/hero-guy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    min-height: 300px;
    height: 55vw;
    max-height: 575px;
    position: absolute;
    right: -300px;
    top: -65px;
    z-index: 100;
  }
}
@media screen and (min-width: 1500px) {
  #hero {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 75px;
  }
  .hero-text-container {
    position: relative;
    z-index: 999;
    margin-left: 125px;
    margin-top: 25px;
  }
  .hero-text-container .text h1 {
    font-size: clamp(2.75em, 12vw, 5em);
    width: auto;
    text-align: left;
    font-weight: 700;
    margin-bottom: 25px;
  }
  .hero-text-container .text p {
    line-height: 1.75;
    text-align: left;
    max-width: 650px;
    margin-bottom: 35px;
    font-size: 1.3em;
  }
  .hero-text-container .buttons {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: left;
    z-index: 999;
  }
  .hero-text-container .buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    margin-right: 20px;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .hero-text-container .buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .hero-text-container .buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
  }
  .hero-text-container .buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
  }
  .hero-guy {
    background-image: url("./images/hero-guy.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    width: 100%;
    min-height: 300px;
    height: 55vw;
    max-height: 625px;
    position: absolute;
    right: -375px;
    top: -65px;
    z-index: 100;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  .what-we-do-top-blob {
    display: block;
    background-color: white;
    background-image: url("./images/what-we-do-top-mobile-blob.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
    overflow: visible;
    height: calc(250px + 30vw);
    width: 100%;
  }
  #what-we-do {
    background-color: #3F3B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
  }
  .what-we-do-header {
    margin-top: 25px;
    margin-bottom: 50px;
  }
  .what-we-do-header h1 {
    font-size: clamp(3em, 15vw, 4.5em);
    width: auto;
    text-align: center;
    font-weight: 700;
    margin: 50px 0 15px 0;
    color: white;
  }
  .what-we-do-header h1 span {
    color: #38C6E5;
  }
  .what-we-do-header p {
    width: 90%;
    text-align: center;
    color: white;
    margin: 0 auto;
    max-width: 500px;
    font-size: 1.125em;
  }
  .what-we-do-items {
    width: 100%;
    margin-bottom: 25px;
    min-width: 300px;
  }
  .what-we-do-items .item {
    width: 84%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    max-width: 375px;
    margin: 15px;
    padding: 40px 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px #282633;
    transition: 0.2s;
    align-self: stretch;
    margin: 25px auto;
  }
  .what-we-do-items .item:hover {
    box-shadow: 0px 0px 15px #060507;
  }
  .what-we-do-items .item img {
    margin: 0px auto 25px;
    width: 125px;
    height: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
  }
  .what-we-do-items .item h2 {
    color: white;
    line-height: 1.25;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 15px;
    max-width: 360px;
    margin: 0 auto 20px;
  }
  .what-we-do-items .item p {
    text-align: center;
    color: white;
    max-width: 425px;
    margin: 0 auto;
    line-height: 1.75;
  }
  .what-we-do-bottom-blob {
    position: relative;
    display: block;
    height: auto;
    width: 100vw;
    z-index: 1;
    top: 0;
    background-color: white;
  }
  .do-bottom-blob {
    content: "";
    background-image: url("./images/what-we-do-bottom-blob-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 40vw;
    position: relative;
    top: 0;
  }
}
@media screen and (min-width: 850px) and (max-width: 1199px) {
  .what-we-do-top-blob {
    display: block;
    background-color: white;
    background-image: url("./images/what-we-do-top-blob-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 23vw;
    width: 100%;
    margin-top: -25px;
    position: relative;
  }
  #what-we-do {
    background-color: #3F3B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
  }
  #what-we-do .what-we-do-header {
    width: 92vw;
    margin-bottom: 25px;
  }
  #what-we-do .what-we-do-header h1 {
    font-size: clamp(3em, 15vw, 4.5em);
    width: auto;
    text-align: center;
    font-weight: 700;
    margin: 50px 0 15px;
    color: white;
  }
  #what-we-do .what-we-do-header h1 span {
    color: #38C6E5;
  }
  #what-we-do .what-we-do-header p {
    text-align: center;
    color: white;
    margin: 0 auto;
    max-width: 500px;
    font-size: 1.125em;
  }
  #what-we-do .what-we-do-bottom-blob {
    position: relative;
    display: block;
    height: auto;
    width: 100vw;
    z-index: 1;
    top: 0;
    background-color: white;
  }
  #what-we-do .do-bottom-blob {
    content: "";
    background-image: url("./images/what-we-do-bottom-blob-desktop.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 40vw;
    position: relative;
    top: 0;
  }
  .what-we-do-header {
    margin-bottom: 50px;
  }
  .what-we-do-header p {
    max-width: 600px;
  }
  .what-we-do-items {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 50px;
  }
  .what-we-do-items .item {
    display: flex;
    flex-direction: column;
    padding: 5px;
    align-items: flex-start;
    padding: 35px 25px;
    border-radius: 25px;
    margin: 0 15px;
    max-width: 350px;
    max-width: 375px;
    margin: 15px;
    padding: 40px 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px #282633;
    transition: 0.2s;
    align-self: stretch;
  }
  .what-we-do-items .item:hover {
    box-shadow: 0px 0px 15px #060507;
  }
  .what-we-do-items img {
    margin: 0 auto;
    width: 150px;
    max-width: 350px;
    height: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    margin-bottom: 25px;
  }
  .what-we-do-items h2 {
    color: white;
    line-height: 1.25;
    font-size: 1.75em;
    text-align: center;
    margin-bottom: 15px;
    max-width: 275px;
    margin: 0 auto 20px;
  }
  .what-we-do-items p {
    text-align: center;
    color: white;
    max-width: 425px;
    margin: 0 auto;
    line-height: 1.75;
  }
}
@media screen and (min-width: 1200px) {
  .what-we-do-top-blob {
    background-color: white;
    display: block;
    background-image: url("./images/what-we-do-top-blob-desktop.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;
    height: 23vw;
    max-height: 430px;
    width: 100%;
    margin-top: -150px;
    position: relative;
  }
  #what-we-do {
    background-color: #3F3B51;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    position: relative;
  }
  .what-we-do-header {
    width: 92vw;
    margin-bottom: 50px;
  }
  .what-we-do-header h1 {
    font-size: clamp(3em, 15vw, 5em);
    width: auto;
    text-align: center;
    font-weight: 700;
    margin: 50px 0 25px;
    color: white;
  }
  .what-we-do-header h1 span {
    color: #38C6E5;
  }
  .what-we-do-header p {
    text-align: center;
    color: white;
    margin: 0 auto;
    font-size: 1.125em;
    max-width: 600px;
  }
  .what-we-do-items {
    margin-bottom: 85px;
    display: flex;
    flex-direction: row;
  }
  .what-we-do-items .item {
    background-color: #3F3B51;
    position: relative;
    z-index: 800;
    display: flex;
    max-width: 1600px;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 375px;
    margin: 15px;
    padding: 40px 25px;
    border-radius: 25px;
    box-shadow: 0px 0px 30px #282633;
    transition: 0.2s;
    align-self: stretch;
    margin: 25px;
  }
  .what-we-do-items .item:hover {
    box-shadow: 0px 0px 15px #060507;
  }
  .what-we-do-items .item img {
    margin: 0 auto;
    width: 150px;
    max-width: 350px;
    height: auto;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
    margin-bottom: 15px;
  }
  .what-we-do-items .item h2 {
    color: white;
    line-height: 1.25;
    font-size: 1.75em;
    text-align: center;
    max-width: 275px;
    margin: 0 auto;
    margin-bottom: 25px;
  }
  .what-we-do-items .item p {
    text-align: center;
    color: white;
    max-width: 425px;
    margin: 0 auto;
    line-height: 1.75;
    padding-bottom: 10px;
  }
  .what-we-do-bottom-blob {
    position: relative;
    display: block;
    height: auto;
    width: 100vw;
    max-width: 1920px;
    z-index: 1;
    bottom: 0;
    background-color: white;
  }
}
@media screen and (min-width: 0px) {
  #quote-1 {
    position: relative;
    width: 90%;
    max-width: 1200px;
    text-align: center;
    margin: 100px auto 25px;
    z-index: 999;
  }
  #quote-1 h2 {
    font-size: clamp(1.5em, 5vw, 3em);
    margin: 0 auto;
    line-height: 1.5;
  }
}
@media screen and (min-width: 850px) {
  #quote-1 {
    margin: 100px auto;
  }
}
@media screen and (min-width: 1200px) {
  #quote-1 {
    position: relative;
    z-index: 999;
    margin: 150px auto 50px;
  }
}
@media only screen and (min-width: 0px) {
  .contract-top-blob {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 500;
    bottom: 0;
    background-color: white;
  }
  #contract-section {
    margin-top: -50px;
    background-color: #3F3B51;
  }
  .contract-bottom-blob {
    margin-bottom: -5px;
    position: relative;
    width: 100%;
    height: auto;
    bottom: 0;
    background-color: white;
  }
}
@media only screen and (min-width: 0px) and (max-width: 849px) {
  #contract-section {
    text-align: center;
  }
  .contract-container {
    margin: 0 auto;
    margin-top: 50px;
    justify-content: center;
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    overflow: visible;
  }
  .contract-container h2 {
    color: white;
    font-size: clamp(1.5em, 7vw, 3em);
    line-height: 1.5;
  }
  .contract-container h2 span {
    color: #38C6E5;
  }
  .contract-container p {
    color: white;
    margin: 25px auto;
    padding: 0 10px;
    max-width: 600px;
    height: auto;
    font-size: clamp(1em, 4vw, 1.125em);
  }
  .contract-container p span {
    font-weight: 700;
    color: #38C6E5;
  }
  .contract-container .no-fees {
    width: 80vw;
  }
  .bank-girl {
    margin: 25px 0 15px 0;
    height: 75vw;
    max-height: 450px;
  }
  .included-container h2 {
    overflow: visible;
  }
  .included-container h2::before {
    display: block;
    content: "";
    background-image: url("./images/cogs.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(250px + 5vw);
    height: calc(150px + 5vw);
    position: absolute;
    opacity: 0.03;
    top: 75px;
    right: calc(25px + 1vw);
    transform: scaleX(-1);
  }
  .included-container h2::after {
    display: block;
    content: "";
    background-image: url("./images/cogs2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(200px + 5vw);
    height: calc(200px + 5vw);
    position: absolute;
    opacity: 0.03;
    top: 800px;
    left: 35%;
    transform: scaleX(-1);
  }
  .included-container {
    height: auto;
    padding-bottom: 25px;
    margin-top: 50px;
  }
  .included-container h2 {
    color: white;
    font-size: clamp(1.5em, 10vw, 3em);
    margin: 50px 0 25px 0;
    position: relative;
    overflow: visible;
  }
  .included-container h2 span {
    color: #38C6E5;
  }
  .included-container .included-items {
    display: flex;
    flex-direction: column;
    z-index: 1;
    height: auto;
    max-width: 500px;
    margin-bottom: 50px;
  }
  .included-container .included-items .item {
    padding: 0 12.5vw;
    text-align: left;
    margin-bottom: 25px;
  }
  .included-container .included-items .item::before {
    content: "";
    background-image: url("./images/check.png");
    display: block;
    position: relative;
    top: 23px;
    left: -30px;
    background-size: contain;
    width: 20px;
    height: 15px;
  }
  .included-container .included-items .item h3 {
    width: auto;
    color: white;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
    line-height: 1.75;
    display: block;
    text-decoration: solid underline white 1px;
    -webkit-text-decoration: solid underline white 1px;
    text-underline-offset: 5px;
    -webkit-text-underline-offset: 5px;
  }
  .included-container .included-items .item p {
    color: white;
    max-width: 300px;
  }
  .included-container a {
    border-radius: 7.5px;
    border: 1px solid #38C6E5;
    color: #38C6E5;
    min-width: 100px;
    padding: 20px 30px;
    text-align: center;
    align-self: center;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 1px 1px 5px #1a1a1a;
  }
  .included-container a:hover {
    background-color: white;
    color: #1a1a1a;
    transition: 0.3s;
    border: 1px solid #1a1a1a;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1199px) {
  .contract-content {
    padding: 25px calc(25px + 5vw);
    display: grid;
    grid-template-columns: repeat(10, 10%);
    grid-template-rows: repeat(24, 50px);
  }
  .contract-content .contract-container {
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 5;
  }
  .contract-content .contract-container h2 {
    color: white;
    font-size: clamp(1.5em, 7vw, 3em);
    line-height: 1.5;
    margin: 0 auto;
  }
  .contract-content .contract-container h2 span {
    color: #38C6E5;
  }
  .contract-content .contract-container p {
    color: white;
    margin-top: 25px;
    width: 92vw;
    max-width: 600px;
    height: auto;
    font-size: 18px;
  }
  .contract-content .contract-container p span {
    font-weight: 700;
    color: #38C6E5;
  }
  .bank-girl {
    position: relative;
    z-index: 800;
    margin: 0 auto;
    max-height: 475px;
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start: 4;
    margin-top: 25px;
  }
  .included-container {
    position: relative;
    z-index: 5;
    height: 100%;
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 9;
    grid-row-start: 11;
    grid-row-end: 20;
    overflow: visible;
  }
  .included-container h2 {
    color: white;
    text-align: left;
    font-size: clamp(1.5em, 7vw, 3em);
  }
  .included-container h2 span {
    color: #38C6E5;
  }
  .included-container h2::before {
    display: block;
    content: "";
    background-image: url("./images/cogs.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 250px;
    height: 250px;
    position: absolute;
    left: -10px;
    top: -80px;
    opacity: 0.03;
    z-index: 999;
  }
  .included-container h2::after {
    display: block;
    content: "";
    background-image: url("./images/cogs2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(200px + 5vw);
    height: calc(200px + 5vw);
    position: absolute;
    opacity: 0.03;
    top: 300px;
    right: -200px;
    transform: scaleX(-1);
  }
  .included-container .included-items {
    max-width: none;
    display: grid;
    flex-direction: row;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, auto);
  }
  .included-container .included-items .item {
    padding-left: 30px;
    margin: 5px 10px;
  }
  .included-container .included-items .item::before {
    content: "";
    background-image: url("./images/check.png");
    display: block;
    position: relative;
    top: 23px;
    left: -30px;
    background-size: contain;
    width: 20px;
    height: 15px;
  }
  .included-container .included-items .item h3 {
    width: auto;
    color: white;
    padding-bottom: 5px;
    position: relative;
    text-align: left;
    line-height: 1.75;
    display: block;
    text-decoration: solid underline white 1px;
    -webkit-text-decoration: solid underline white 1px;
    text-underline-offset: 5px;
    -webkit-text-underline-offset: 5px;
  }
  .included-container .included-items .item p {
    color: white;
    max-width: 300px;
  }
  .included-container a {
    border-radius: 7.5px;
    border: 1px solid #38C6E5;
    color: #38C6E5;
    min-width: 100px;
    padding: 20px 30px;
    text-align: center;
    align-self: center;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 1px 1px 5px #1a1a1a;
    margin-top: 50px;
  }
  .included-container a:hover {
    background-color: white;
    color: #1a1a1a;
    transition: 0.3s;
    border: 1px solid #1a1a1a;
  }
}
@media only screen and (min-width: 1200px) {
  .contract-container {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 5;
    overflow: visible;
  }
  .contract-container::after {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./images/contract.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 50%;
    height: 50%;
    top: -22px;
    left: -140px;
    opacity: 0.5;
    transform: rotate(15deg);
  }
  .contract-container h2 {
    min-width: 700px;
    position: relative;
    z-index: 5;
  }
  .contract-container p {
    position: relative;
    z-index: 5;
  }
  .bank-girl {
    max-height: 575px;
    grid-column-start: 6;
    grid-column-end: 9;
    grid-row-start: 1;
    grid-row-end: 7;
    margin-top: 75px;
    overflow: visible;
    z-index: 5;
  }
  .included-container {
    display: flex;
    flex-direction: column;
    grid-column-start: 2;
    grid-column-end: 8;
    grid-row-start: 5;
    grid-row-end: 15;
    overflow: visible;
    margin-top: 150px;
  }
  .included-container h2 {
    text-align: left;
    position: relative;
    overflow: visible;
  }
  .included-container h2::before {
    display: block;
    content: "";
    background-image: url("./images/cogs.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 150px;
    height: 150px;
    position: absolute;
    opacity: 0.5;
    top: -100px;
    left: -160px;
  }
  .included-container h2::after {
    display: block;
    content: "";
    background-image: url("./images/cogs2.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: calc(200px + 5vw);
    height: calc(200px + 5vw);
    position: absolute;
    opacity: 0.05;
    top: 175px;
    right: -225px;
    transform: scaleX(-1);
    overflow: hidden;
  }
  .included-container .included-items {
    display: grid;
    max-width: none;
    grid-template-columns: repeat(4, 1fr);
  }
  .included-container .included-items .item {
    padding: 0 25px 0 35px;
  }
}/*# sourceMappingURL=main.css.map */