.services-hero-text,
.services-hero-guy {
  transition: 0.2s;
}

@media screen and (min-width: 0px) {
  #hero {
    position: relative;
    overflow: visible;
    z-index: 500;
  }
  .services-hero-text {
    position: relative;
  }
  .services-hero-text p {
    color: #804DD4;
    font-weight: 600;
    line-height: 1.25;
  }
  .services-hero-text h1 {
    line-height: 1.5;
    font-weight: 600;
  }
  .services-hero-guy {
    position: absolute;
    content: "";
    background-image: url("./service-images/services-guy.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    overflow: visible;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  #hero {
    position: relative;
    display: flex;
    flex-direction: column;
  }
  .services-hero-text {
    width: 90%;
    max-width: 475px;
    margin: 25px auto;
    text-align: center;
  }
  .services-hero-text p {
    font-weight: 600;
    font-size: 1.75em;
  }
  .services-hero-text h1 {
    font-size: clamp(2em, 6vw, 2.5em);
  }
  .services-hero-guy {
    display: none;
  }
}
@media only screen and (min-width: 850px) {
  #hero {
    display: flex;
    flex-direction: row;
    margin-bottom: -175px;
    height: 675px;
  }
}
@media screen and (min-width: 850px) and (max-width: 999px) {
  .services-hero-text {
    margin-left: 25px;
    margin-top: 125px;
    width: 45%;
  }
  .services-hero-text p {
    font-size: 1.5em;
  }
  .services-hero-text h1 {
    font-size: 2.5em;
  }
  .services-hero-guy {
    right: -125px;
    margin-top: 60px;
    width: 700px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .services-hero-text {
    margin-left: 60px;
    margin-top: 150px;
    width: 45%;
    line-height: 1.5;
    z-index: 5;
  }
  .services-hero-text p {
    font-size: 1.5em;
  }
  .services-hero-text h1 {
    font-size: 2.5em;
  }
  .services-hero-guy {
    right: -75px;
    margin-top: 75px;
    width: 750px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1349px) {
  .services-hero-text {
    margin-left: 60px;
    margin-top: 175px;
    width: 40%;
  }
  .services-hero-text p {
    font-size: 1.5em;
  }
  .services-hero-text h1 {
    font-size: 2.5em;
  }
  .services-hero-guy {
    right: -25px;
    margin-top: 75px;
    width: 800px;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1499px) {
  .services-hero-text {
    margin-left: 75px;
    margin-top: 200px;
    width: 40%;
  }
  .services-hero-text p {
    font-size: 1.5em;
  }
  .services-hero-text h1 {
    font-size: 2.75em;
  }
  .services-hero-guy {
    right: 0px;
    margin-top: 75px;
    width: 825px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1699px) {
  .services-hero-text {
    position: absolute;
    margin-left: 125px;
    margin-top: 225px;
    width: 40%;
  }
  .services-hero-text p {
    font-size: 1.75em;
  }
  .services-hero-text h1 {
    font-size: 3em;
  }
  .services-hero-guy {
    right: 25px;
    margin-top: 100px;
    width: 850px;
  }
}
@media screen and (min-width: 1700px) {
  .services-hero-text {
    position: absolute;
    margin-left: 125px;
    margin-top: 250px;
    width: 40%;
  }
  .services-hero-text p {
    font-size: 2em;
  }
  .services-hero-text h1 {
    font-size: 3.5em;
  }
  .services-hero-guy {
    right: 75px;
    margin-top: 115px;
    width: 900px;
  }
}
@media screen and (min-width: 0px) {
  #standing-out {
    background-color: #3F3B51;
  }
  .standing-out-top-blob {
    position: relative;
    background-color: white;
    width: 100%;
    z-index: 100;
  }
  .standing-out-container {
    max-width: 850px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-top: 75px;
  }
  .standing-out-container p:first-child {
    color: #9d76de;
    font-weight: 700;
    font-size: 1.5em;
    margin-bottom: 0px;
  }
  .standing-out-container h1 {
    width: 100%;
    color: white;
    font-size: clamp(2em, 6vw, 3em);
    margin-bottom: 25px;
    line-height: 1.25;
  }
  .standing-out-container p {
    color: white;
    margin-bottom: 50px;
    line-height: 1.75;
    font-size: 1.125em;
  }
  .standing-out-container .pathway {
    content: "";
    background-image: url("./services-images/pathway.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 40vw;
    max-height: 350px;
    margin-bottom: 50px;
  }
  .standing-out-container a {
    border-radius: 7.5px;
    border: 1px solid #8f62d9;
    color: #9d76de;
    margin: 0 auto;
    min-width: 100px;
    padding: 20px 30px;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 1px 1px 5px #1a1a1a;
  }
  .standing-out-container a:hover {
    background-color: white;
    color: #1a1a1a;
    transition: 0.3s;
    border: 1px solid #1a1a1a;
  }
  .standing-out-bottom-blob {
    background-color: white;
    width: 100%;
    margin-bottom: -5px;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  #done-differently {
    background-color: white;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .done-differently-header {
    position: relative;
    margin: 0 auto;
    text-align: center;
  }
  .done-differently-header h1 {
    margin: 0 auto;
    color: black;
    font-size: clamp(2em, 6vw, 3em);
    margin-top: 75px;
    line-height: 1.25;
    margin-bottom: 25px;
  }
  .done-differently-header h1 span {
    color: #8f62d9;
  }
  .done-differently-header p {
    max-width: 700px;
    margin: 0 auto;
    color: black;
    margin-bottom: 50px;
    line-height: 1.75;
    font-size: 1.125em;
  }
}
@media only screen and (min-width: 850px) {
  .done-differently-header {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 75px;
  }
  .done-differently-header h1 {
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: clamp(2em, 6vw, 3em);
  }
  .done-differently-header h1 span {
    color: #8f62d9;
  }
  .done-differently-header p {
    max-width: 750px;
    margin: 0 auto;
  }
  .done-differently-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  #purpose {
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  .purpose-text {
    margin: 0 auto;
    width: 90%;
  }
  .laptop-girl {
    content: "";
    background-image: url("./service-images/laptop-girl.png");
    background-size: contain;
    background-repeat: no-repeat;
    right: 0px;
    bottom: 0px;
    min-height: 450px;
    height: auto;
    width: calc(300px + 25vw);
    margin: 0 auto;
  }
}
@media only screen and (min-width: 850px) {
  #purpose {
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: row-reverse;
  }
  .laptop-girl {
    display: block;
    content: "";
    background-image: url("./service-images/laptop-girl.png");
    background-repeat: no-repeat;
    background-size: contain;
    min-width: 200px;
    position: absolute;
    right: 0px;
    bottom: 0px;
    height: 100%;
    min-height: 300px;
  }
}
@media only screen and (min-width: 0px) {
  .footer-bottom-blob {
    width: 100%;
    position: relative;
    z-index: 999;
  }
  .footer-container {
    overflow: visible;
    background-color: #3F3B51;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -5px;
    padding-bottom: 25px;
  }
  .footer-logo {
    margin: 0 auto;
    margin: 50px auto;
  }
  .footer-logo img {
    height: calc(75px + 5vw);
    max-height: 110px;
  }
  .footer-bottom {
    background-color: #8f62d9;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .footer-bottom a {
    color: black;
  }
  .footer-bottom a:hover {
    color: white;
    transition: 0.2s;
  }
  .footer-links {
    position: relative;
    height: auto;
  }
  .footer-links .home a::after {
    background-color: #38C6E5;
  }
  .footer-links .home a:hover {
    color: #38C6E5;
  }
  .footer-links .about a::after {
    background-color: #7fd378;
  }
  .footer-links .about a:hover {
    color: #7fd378;
  }
  .footer-links .services a::after {
    width: 100%;
    background-color: #8f62d9;
  }
  .footer-links .services a:hover {
    color: #8f62d9;
  }
  .footer-links .blog a::after {
    background-color: #D44D4D;
  }
  .footer-links .blog a:hover {
    color: #D44D4D;
  }
  .footer-links .contact a::after {
    background-color: #ffcc00;
  }
  .footer-links .contact a:hover {
    color: #ffcc00;
  }
  .footer-contact .email:hover,
  .footer-contact .phone:hover {
    transition: 0.2s;
    color: #8f62d9;
  }
}
@media only screen and (min-width: 0px) and (max-width: 849px) {
  .footer-text {
    width: 80%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-bottom: 10px;
  }
  .footer-text .footer-navigation {
    overflow: visible;
  }
  .footer-text .footer-navigation h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #8f62d9;
  }
  .footer-text .footer-navigation ul {
    display: flex;
    flex-direction: column;
  }
  .footer-text .footer-navigation ul li {
    overflow: visible;
    margin: 15px 0px;
  }
  .footer-text .footer-navigation ul li a {
    color: white;
    padding: 10px;
    margin-left: -10px;
  }
  .footer-text .footer-contact {
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;
    overflow: visible;
  }
  .footer-text .footer-contact::before {
    display: block;
    content: "";
    background-image: url("./services-images/leaves.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    right: -45px;
    bottom: 103px;
  }
  .footer-text .footer-contact h2 {
    color: white;
    border-bottom: 4px solid #8f62d9;
    margin-bottom: 25px;
    padding-bottom: 5px;
  }
  .footer-text .footer-contact div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .footer-text .footer-contact div a {
    color: white;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .footer-text .footer-contact div a:hover {
    -webkit-text-decoration: solid 1px #8f62d9;
            text-decoration: solid 1px #8f62d9;
  }
  .footer-text .footer-contact div a:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("./services-images/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
  }
  .footer-text .footer-contact div a:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url("./services-images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    bottom: 22px;
    left: 2px;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1199px) {
  .footer-text {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 75px auto;
    justify-content: space-around;
    overflow: visible;
  }
  .footer-text::after {
    border-bottom: 4px solid #8f62d9;
  }
  .footer-text .footer-navigation {
    width: 70vw;
    position: relative;
    overflow: visible;
  }
  .footer-text .footer-navigation::before {
    display: block;
    content: "";
    background-image: url("./services-images/leaves.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    left: 0px;
    top: -90px;
  }
  .footer-text .footer-navigation h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #8f62d9;
    padding-left: 110px;
  }
  .footer-text .footer-navigation ul {
    display: flex;
    flex-direction: row;
  }
  .footer-text .footer-navigation ul li {
    line-height: 1.75;
    margin: 2.5px 10px;
  }
  .footer-text .footer-navigation ul li a {
    color: white;
    padding: 5px;
  }
  .footer-text .footer-navigation ul li .home {
    -webkit-text-decoration: 3px solid #7fd378 underline;
            text-decoration: 3px solid #7fd378 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .services:hover {
    -webkit-text-decoration: 3px solid #8f62d9 underline;
            text-decoration: 3px solid #8f62d9 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .services:hover {
    -webkit-text-decoration: 3px solid #8f62d9 underline;
            text-decoration: 3px solid #8f62d9 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .blog:hover {
    -webkit-text-decoration: 3px solid #D44D4D underline;
            text-decoration: 3px solid #D44D4D underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .contact:hover {
    -webkit-text-decoration: 3px solid #ffcc00;
            text-decoration: 3px solid #ffcc00;
    text-underline-offset: 2px;
  }
  .footer-text .footer-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: visible;
  }
  .footer-text .footer-contact::after {
    display: block;
    content: "";
    background-image: url("./services-images/leaves2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    right: -45px;
    top: -90px;
  }
  .footer-text .footer-contact h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #8f62d9;
    padding-left: 75px;
  }
  .footer-text .footer-contact div {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    position: relative;
    margin: 7.5px 15px;
  }
  .footer-text .footer-contact a {
    color: white;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .footer-text .footer-contact a:nth-child(1)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./services-images/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 60px;
    top: -2px;
  }
  .footer-text .footer-contact a:nth-child(2)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./services-images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: 62px;
    bottom: 22px;
  }
  .footer-links a {
    position: relative;
  }
  .footer-links a:hover {
    transition: 0.1s;
  }
  .footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    transition: width 0.2s ease-in-out;
  }
  .footer-links a:hover::after {
    width: 100%;
  }
  .footer-links {
    position: relative;
    height: auto;
  }
  .footer-links .home a::after {
    background-color: #38C6E5;
  }
  .footer-links .home a:hover {
    color: #38C6E5;
  }
  .footer-links .services a::after {
    width: 100%;
    background-color: #7fd378;
  }
  .footer-links .services a:hover {
    color: #7fd378;
  }
  .footer-links .services a::after {
    background-color: #8f62d9;
  }
  .footer-links .services a:hover {
    color: #8f62d9;
  }
  .footer-links .blog a::after {
    background-color: #D44D4D;
  }
  .footer-links .blog a:hover {
    color: #D44D4D;
  }
  .footer-links .contact a::after {
    background-color: #ffcc00;
  }
  .footer-links .contact a:hover {
    color: #ffcc00;
  }
  .footer-contact a:hover {
    transition: 0.2s;
    color: #8f62d9;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-container {
    margin-top: -50px;
  }
  .footer-text {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-around;
    margin: 75px auto;
    overflow: visible;
  }
  .footer-text::after {
    border-bottom: 4px solid #38C6E5;
  }
  .footer-text .footer-navigation {
    width: 70vw;
    position: relative;
    overflow: visible;
  }
  .footer-text .footer-navigation::before {
    display: block;
    content: "";
    background-image: url("./services-images/leaves.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    left: 0px;
    top: -90px;
  }
  .footer-text .footer-navigation h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #8f62d9;
    padding-left: 110px;
  }
  .footer-text .footer-navigation ul {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
  }
  .footer-text .footer-navigation ul li {
    line-height: 1.75;
    margin: 2.5px 12.5px;
  }
  .footer-text .footer-navigation ul li a {
    color: white;
    padding: 5px;
  }
  .footer-text .footer-navigation ul li .home {
    -webkit-text-decoration: 3px solid #38C6E5 underline;
            text-decoration: 3px solid #38C6E5 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .services:hover {
    -webkit-text-decoration: 3px solid #7fd378 underline;
            text-decoration: 3px solid #7fd378 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .services:hover {
    -webkit-text-decoration: 3px solid #8f62d9 underline;
            text-decoration: 3px solid #8f62d9 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .blog:hover {
    -webkit-text-decoration: 3px solid #D44D4D underline;
            text-decoration: 3px solid #D44D4D underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .contact:hover {
    -webkit-text-decoration: 3px solid #ffcc00;
            text-decoration: 3px solid #ffcc00;
    text-underline-offset: 2px;
  }
  .footer-text .footer-links a {
    position: relative;
    font-size: 1.125em;
  }
  .footer-text .footer-links a:hover {
    transition: 0.1s;
  }
  .footer-text .footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    transition: width 0.2s ease-in-out;
  }
  .footer-text .footer-links a:hover::after {
    width: 100%;
  }
  .footer-text .footer-links {
    position: relative;
    height: auto;
  }
  .footer-text .footer-links .home a::after {
    background-color: #38C6E5;
  }
  .footer-text .footer-links .home a:hover {
    color: #38C6E5;
  }
  .footer-text .footer-links .services a::after {
    width: 100%;
    background-color: #7fd378;
  }
  .footer-text .footer-links .services a:hover {
    color: #7fd378;
  }
  .footer-text .footer-links .services a::after {
    background-color: #8f62d9;
  }
  .footer-text .footer-links .services a:hover {
    color: #8f62d9;
  }
  .footer-text .footer-links .blog a::after {
    background-color: #D44D4D;
  }
  .footer-text .footer-links .blog a:hover {
    color: #D44D4D;
  }
  .footer-text .footer-links .contact a::after {
    background-color: #ffcc00;
  }
  .footer-text .footer-links .contact a:hover {
    color: #ffcc00;
  }
  .footer-text .footer-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: visible;
  }
  .footer-text .footer-contact::after {
    display: block;
    content: "";
    background-image: url("./services-images/leaves2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    right: -45px;
    top: -90px;
  }
  .footer-text .footer-contact h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #8f62d9;
    padding-left: 75px;
  }
  .footer-text .footer-contact div {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    position: relative;
    margin: 7.5px 15px;
  }
  .footer-text .footer-contact a {
    color: white;
    margin-left: 40px;
    position: relative;
    margin-bottom: 15px;
    font-size: 1.125em;
  }
  .footer-text .footer-contact a:hover {
    transition: 0.2s;
    color: #8f62d9;
  }
  .footer-text .footer-contact a:nth-child(1)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./services-images/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 1px;
  }
  .footer-text .footer-contact a:nth-child(2)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./services-images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: -28px;
    top: 1px;
  }
}/*# sourceMappingURL=services-main.css.map */