@media screen and (min-width: 0px) {
  #hero {
    position: relative;
    overflow: visible;
    z-index: 500;
  }
  .about-hero-text {
    position: relative;
    z-index: 900;
  }
  .about-hero-text p {
    color: #5bc652;
    font-weight: 600;
  }
  .about-hero-text h1 {
    line-height: 1.5;
    font-weight: 600;
  }
  .about-hero-girl {
    position: absolute;
    content: "";
    background-image: url("./about-images/window-girl.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  #hero {
    display: flex;
    flex-direction: column;
  }
  .about-hero-text {
    width: 94%;
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 25px;
  }
  .about-hero-text p {
    font-weight: 600;
    font-size: 1.5em;
  }
  .about-hero-text h1 {
    font-size: 1.75em;
    margin-bottom: 25px;
  }
  .about-hero-girl {
    display: none;
  }
}
@media screen and (min-width: 850px) {
  #hero {
    display: flex;
    flex-direction: row;
    margin-bottom: -350px;
  }
  .about-hero-text {
    min-height: 500px;
  }
}
@media screen and (min-width: 850px) and (max-width: 999px) {
  .about-hero-text {
    margin-left: 25px;
    margin-top: 50px;
    width: 50%;
  }
  .about-hero-text p {
    font-size: 1.5em;
  }
  .about-hero-text h1 {
    font-size: 2em;
  }
  .about-hero-girl {
    right: -85px;
    margin-top: -30px;
    margin-left: 25px;
    width: 600px;
  }
}
@media screen and (min-width: 1000px) and (max-width: 1199px) {
  .about-hero-text {
    margin-left: 60px;
    margin-top: 75px;
    width: 50%;
    line-height: 1.5;
  }
  .about-hero-text p {
    font-size: 1.75em;
  }
  .about-hero-text h1 {
    font-size: 2.25em;
  }
  .about-hero-girl {
    right: -100px;
    margin-top: -15px;
    margin-left: 25px;
    width: 700px;
  }
}
@media screen and (min-width: 1200px) and (max-width: 1349px) {
  #about-hero {
    margin-bottom: -475px;
  }
  .about-hero-text {
    margin-left: 60px;
    margin-top: 100px;
    width: 45%;
  }
  .about-hero-text p {
    font-size: 2em;
  }
  .about-hero-text h1 {
    font-size: 2.5em;
  }
  .about-hero-girl {
    right: -50px;
    margin-top: 0px;
    margin-left: 25px;
    width: 750px;
  }
}
@media screen and (min-width: 1350px) and (max-width: 1499px) {
  .about-hero-text {
    margin-left: 75px;
    margin-top: 125px;
    width: 40%;
  }
  .about-hero-text p {
    font-size: 2em;
  }
  .about-hero-text h1 {
    font-size: 3.5em;
  }
  .about-hero-girl {
    right: 0px;
    margin-top: 25px;
    margin-left: 25px;
    width: 850px;
  }
}
@media screen and (min-width: 1500px) and (max-width: 1699px) {
  .about-hero-text {
    margin-left: 125px;
    margin-top: 125px;
    width: 40%;
  }
  .about-hero-text p {
    font-size: 2.25em;
  }
  .about-hero-text h1 {
    font-size: 3.75em;
  }
  .about-hero-girl {
    right: -25px;
    margin-top: 50px;
    width: 850px;
  }
}
@media screen and (min-width: 1700px) {
  .about-hero-text {
    margin-left: 125px;
    margin-top: 150px;
    width: 40%;
  }
  .about-hero-text p {
    font-size: 2.5em;
  }
  .about-hero-text h1 {
    font-size: 4em;
    line-height: 1.5;
  }
  .about-hero-girl {
    right: -25px;
    margin-top: 50px;
    width: 1000px;
  }
}
@media screen and (min-width: 0px) {
  #journey {
    background-color: #3F3B51;
  }
  .journey-top-blob {
    background-color: white;
    width: 100%;
  }
  .journey-container {
    max-width: 850px;
    display: flex;
    flex-direction: column;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 75px;
    margin-top: 50px;
  }
  .journey-container p:first-child {
    color: #7fd378;
    font-weight: 700;
    font-size: 1.25em;
    margin-bottom: 0px;
  }
  .journey-container h1 {
    width: 100%;
    color: white;
    font-size: clamp(2em, 6vw, 3em);
    margin-bottom: 25px;
    line-height: 1.25;
  }
  .journey-container p {
    color: white;
    margin-bottom: 50px;
    line-height: 1.75;
    font-size: 1.125em;
  }
  .journey-container .pathway {
    content: "";
    background-image: url("./about-images/pathway.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    width: 100%;
    max-width: 600px;
    height: 40vw;
    max-height: 350px;
    margin-bottom: 50px;
  }
  .journey-container a {
    border-radius: 7.5px;
    border: 1px solid #7fd378;
    color: #7fd378;
    margin: 0 auto;
    min-width: 100px;
    padding: 20px 30px;
    font-weight: 700;
    transition: 0.3s;
    box-shadow: 1px 1px 5px #1a1a1a;
  }
  .journey-container a:hover {
    background-color: white;
    color: #1a1a1a;
    transition: 0.3s;
    border: 1px solid #1a1a1a;
  }
  .journey-bottom-blob {
    background-color: white;
    width: 100%;
    margin-bottom: -5px;
  }
}
@media screen and (min-width: 0px) and (max-width: 849px) {
  #sets-apart {
    background-color: white;
    width: 90%;
    max-width: 1000px;
    margin: 0 auto;
  }
  .sets-apart-header {
    position: relative;
    margin: 0 auto;
    text-align: left;
    text-align: center;
  }
  .sets-apart-header h1 {
    margin: 0 auto;
    color: black;
    font-size: 3em;
    margin-top: 75px;
    line-height: 1.25;
    margin-bottom: 25px;
  }
  .sets-apart-header h1 .no-wrap {
    white-space: nowrap;
  }
  .sets-apart-header h1 .green {
    color: #7fd378;
    line-height: 1.25;
  }
  .sets-apart-header p {
    max-width: 700px;
    margin: 0 auto;
    color: black;
    margin-bottom: 50px;
    line-height: 1.75;
    font-size: 1.125em;
  }
  .sets-apart-container {
    display: flex;
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .sets-items h2 {
    font-size: 2em;
    border-left: 5px solid #7fd378;
    padding-left: 12.5px;
    margin-bottom: 15px;
    line-height: 1.25;
  }
  .sets-items p {
    line-height: 1.75;
    margin-bottom: 25px;
    max-width: 500px;
  }
  .sets-items p span {
    color: #5bc652;
    font-weight: 600;
  }
  .sets-items p:last-child {
    margin-bottom: 75px;
  }
  .sets-left {
    margin: 0 auto;
  }
  .sets-right {
    text-align: center;
  }
  .sets-right img {
    width: 90%;
    max-width: 400px;
    margin-bottom: 50px;
  }
  .sets-buttons {
    display: flex;
    margin-top: 75px;
    margin-bottom: 100px;
    height: auto;
  }
  .sets-buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .sets-buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .sets-buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
    margin-right: 10px;
  }
  .sets-buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 850px) {
  .sets-apart-header {
    width: 75%;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 75px;
  }
  .sets-apart-header h1 {
    margin-top: 75px;
    margin-bottom: 25px;
    font-size: 3.5em;
  }
  .sets-apart-header h1 .green {
    color: #7fd378;
  }
  .sets-apart-header p {
    max-width: 750px;
    margin: 0 auto;
  }
  .sets-apart-container {
    width: 60%;
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: space-between;
    margin: 0 auto;
  }
  .sets-items h2 {
    font-size: 2em;
    border-left: 5px solid #7fd378;
    padding-left: 12.5px;
    margin-bottom: 15px;
    line-height: 1.25;
  }
  .sets-items p {
    line-height: 1.75;
    margin-bottom: 25px;
    max-width: 500px;
  }
  .sets-items p span {
    color: #5bc652;
    font-weight: 600;
  }
  .sets-items p:last-child {
    margin-bottom: 75px;
  }
  .sets-left {
    max-width: 500px;
  }
  .sets-right {
    width: 60%;
    position: relative;
    margin-left: 50px;
    margin-top: 150px;
  }
  .sets-right img {
    position: absolute;
    width: 600px;
  }
  .sets-buttons {
    margin-top: 75px;
    margin-bottom: 100px;
  }
  .sets-buttons a {
    padding: 15px 30px;
    border-radius: 7.5px;
    color: #000000;
    border-color: 1px solid lightgray;
    min-width: 125px;
    transition: 0.2s;
    text-align: center;
  }
  .sets-buttons a:hover {
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2274509804), 1px -1px 1px rgba(0, 0, 0, 0.2274509804), -1px 1px 1px rgba(0, 0, 0, 0.2274509804), -1px -1px 1px rgba(0, 0, 0, 0.2274509804);
  }
  .sets-buttons .contact-btn {
    background-color: #ffcc00;
    box-shadow: 1px 2px 0 #e6b800, 2px 4px 6px #060507;
    margin-right: 10px;
  }
  .sets-buttons .services-btn {
    background-color: white;
    box-shadow: 1px 2px 0 #f2f2f2, 2px 4px 6px #060507;
    margin-left: 10px;
  }
}
@media only screen and (min-width: 0px) {
  .footer-bottom-blob {
    width: 100%;
    position: relative;
    z-index: 999;
  }
  .footer-container {
    overflow: visible;
    background-color: #3F3B51;
    height: auto;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -5px;
    padding-bottom: 25px;
  }
  .footer-logo {
    margin: 0 auto;
    margin: 50px auto;
  }
  .footer-logo img {
    height: calc(75px + 5vw);
    max-height: 110px;
  }
  .footer-bottom {
    background-color: #7fd378;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
  }
  .footer-bottom a {
    color: black;
  }
  .footer-bottom a:hover {
    color: white;
    transition: 0.2s;
  }
  .footer-links {
    position: relative;
    height: auto;
  }
  .footer-links .home a::after {
    background-color: #38C6E5;
  }
  .footer-links .home a:hover {
    color: #38C6E5;
  }
  .footer-links .about a::after {
    width: 100%;
    background-color: #7fd378;
  }
  .footer-links .about a:hover {
    color: #7fd378;
  }
  .footer-links .services a::after {
    background-color: #8f62d9;
  }
  .footer-links .services a:hover {
    color: #8f62d9;
  }
  .footer-links .blog a::after {
    background-color: #D44D4D;
  }
  .footer-links .blog a:hover {
    color: #D44D4D;
  }
  .footer-links .contact a::after {
    background-color: #ffcc00;
  }
  .footer-links .contact a:hover {
    color: #ffcc00;
  }
  .footer-contact .email:hover,
  .footer-contact .phone:hover {
    transition: 0.2s;
    color: #7fd378;
  }
}
@media only screen and (min-width: 0px) and (max-width: 849px) {
  .footer-text {
    width: 80%;
    margin: 0 auto;
    max-width: 1600px;
    display: flex;
    flex-direction: column;
    overflow: visible;
    margin-bottom: 10px;
  }
  .footer-text .footer-navigation {
    overflow: visible;
  }
  .footer-text .footer-navigation h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #7fd378;
  }
  .footer-text .footer-navigation ul {
    display: flex;
    flex-direction: column;
  }
  .footer-text .footer-navigation ul li {
    overflow: visible;
    margin: 15px 0px;
  }
  .footer-text .footer-navigation ul li a {
    color: white;
    padding: 10px;
    margin-left: -10px;
  }
  .footer-text .footer-contact {
    margin-top: 50px;
    margin-bottom: 25px;
    position: relative;
    overflow: visible;
  }
  .footer-text .footer-contact::before {
    display: block;
    content: "";
    background-image: url("./about-images/leaves.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    right: -45px;
    bottom: 103px;
  }
  .footer-text .footer-contact h2 {
    color: white;
    border-bottom: 4px solid #7fd378;
    margin-bottom: 25px;
    padding-bottom: 5px;
  }
  .footer-text .footer-contact div {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: center;
  }
  .footer-text .footer-contact div a {
    color: white;
    margin-left: 30px;
    margin-bottom: 20px;
  }
  .footer-text .footer-contact div a:hover {
    -webkit-text-decoration: solid 1px #7fd378;
            text-decoration: solid 1px #7fd378;
  }
  .footer-text .footer-contact div a:nth-child(1)::before {
    content: "";
    position: absolute;
    background-image: url("./about-images/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    top: -2px;
    left: 0;
  }
  .footer-text .footer-contact div a:nth-child(2)::before {
    content: "";
    position: absolute;
    background-image: url("./about-images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    bottom: 22px;
    left: 2px;
  }
}
@media only screen and (min-width: 850px) and (max-width: 1199px) {
  .footer-text {
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 75px auto;
    justify-content: space-around;
    overflow: visible;
  }
  .footer-text::after {
    border-bottom: 4px solid #3BD3F4;
  }
  .footer-text .footer-navigation {
    width: 70vw;
    position: relative;
    overflow: visible;
  }
  .footer-text .footer-navigation::before {
    display: block;
    content: "";
    background-image: url("./about-images/leaves.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    left: 0px;
    top: -90px;
  }
  .footer-text .footer-navigation h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #7fd378;
    padding-left: 110px;
  }
  .footer-text .footer-navigation ul {
    display: flex;
    flex-direction: row;
  }
  .footer-text .footer-navigation ul li {
    line-height: 1.75;
    margin: 2.5px 10px;
  }
  .footer-text .footer-navigation ul li a {
    color: white;
    padding: 5px;
  }
  .footer-text .footer-navigation ul li .home {
    -webkit-text-decoration: 3px solid #7fd378 underline;
            text-decoration: 3px solid #7fd378 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .about:hover {
    -webkit-text-decoration: 3px solid #7fd378 underline;
            text-decoration: 3px solid #7fd378 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .services:hover {
    -webkit-text-decoration: 3px solid #8f62d9 underline;
            text-decoration: 3px solid #8f62d9 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .blog:hover {
    -webkit-text-decoration: 3px solid #e38025 underline;
            text-decoration: 3px solid #e38025 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .contact:hover {
    -webkit-text-decoration: 3px solid #ffcc00;
            text-decoration: 3px solid #ffcc00;
    text-underline-offset: 2px;
  }
  .footer-text .footer-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: visible;
  }
  .footer-text .footer-contact::after {
    display: block;
    content: "";
    background-image: url("./about-images/leaves2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    right: -45px;
    top: -90px;
  }
  .footer-text .footer-contact h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #7fd378;
    padding-left: 75px;
  }
  .footer-text .footer-contact div {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    position: relative;
    margin: 7.5px 15px;
  }
  .footer-text .footer-contact a {
    color: white;
    margin-left: 40px;
    margin-bottom: 20px;
  }
  .footer-text .footer-contact a:nth-child(1)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./about-images/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: 60px;
    top: -2px;
  }
  .footer-text .footer-contact a:nth-child(2)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./about-images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: 62px;
    bottom: 22px;
  }
  .footer-links a {
    position: relative;
  }
  .footer-links a:hover {
    transition: 0.1s;
  }
  .footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    transition: width 0.2s ease-in-out;
  }
  .footer-links a:hover::after {
    width: 100%;
  }
  .footer-links {
    position: relative;
    height: auto;
  }
  .footer-links .home a::after {
    background-color: #38C6E5;
  }
  .footer-links .home a:hover {
    color: #38C6E5;
  }
  .footer-links .about a::after {
    width: 100%;
    background-color: #7fd378;
  }
  .footer-links .about a:hover {
    color: #7fd378;
  }
  .footer-links .services a::after {
    background-color: #8f62d9;
  }
  .footer-links .services a:hover {
    color: #8f62d9;
  }
  .footer-links .blog a::after {
    background-color: #D44D4D;
  }
  .footer-links .blog a:hover {
    color: #D44D4D;
  }
  .footer-links .contact a::after {
    background-color: #ffcc00;
  }
  .footer-links .contact a:hover {
    color: #ffcc00;
  }
  .footer-contact a:hover {
    transition: 0.2s;
    color: #7fd378;
  }
}
@media only screen and (min-width: 1200px) {
  .footer-container {
    margin-top: -50px;
  }
  .footer-text {
    display: flex;
    flex-direction: row;
    width: 80%;
    max-width: 1400px;
    margin: 0 auto;
    justify-content: space-around;
    margin: 75px auto;
    overflow: visible;
  }
  .footer-text::after {
    border-bottom: 4px solid #3BD3F4;
  }
  .footer-text .footer-navigation {
    width: 70vw;
    position: relative;
    overflow: visible;
  }
  .footer-text .footer-navigation::before {
    display: block;
    content: "";
    background-image: url("./about-images/leaves.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    left: 0px;
    top: -90px;
  }
  .footer-text .footer-navigation h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #7fd378;
    padding-left: 110px;
  }
  .footer-text .footer-navigation ul {
    display: flex;
    flex-direction: row;
    margin-left: 90px;
  }
  .footer-text .footer-navigation ul li {
    line-height: 1.75;
    margin: 2.5px 12.5px;
  }
  .footer-text .footer-navigation ul li a {
    color: white;
    padding: 5px;
  }
  .footer-text .footer-navigation ul li .home {
    -webkit-text-decoration: 3px solid #38C6E5 underline;
            text-decoration: 3px solid #38C6E5 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .about:hover {
    -webkit-text-decoration: 3px solid #7fd378 underline;
            text-decoration: 3px solid #7fd378 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .services:hover {
    -webkit-text-decoration: 3px solid #8f62d9 underline;
            text-decoration: 3px solid #8f62d9 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .blog:hover {
    -webkit-text-decoration: 3px solid #e38025 underline;
            text-decoration: 3px solid #e38025 underline;
    text-underline-offset: 2px;
  }
  .footer-text .footer-navigation ul li .contact:hover {
    -webkit-text-decoration: 3px solid #ffcc00;
            text-decoration: 3px solid #ffcc00;
    text-underline-offset: 2px;
  }
  .footer-text .footer-links a {
    position: relative;
    font-size: 1.125em;
  }
  .footer-text .footer-links a:hover {
    transition: 0.1s;
  }
  .footer-text .footer-links a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 3px;
    transition: width 0.2s ease-in-out;
  }
  .footer-text .footer-links a:hover::after {
    width: 100%;
  }
  .footer-text .footer-links {
    position: relative;
    height: auto;
  }
  .footer-text .footer-links .home a::after {
    background-color: #38C6E5;
  }
  .footer-text .footer-links .home a:hover {
    color: #38C6E5;
  }
  .footer-text .footer-links .about a::after {
    width: 100%;
    background-color: #7fd378;
  }
  .footer-text .footer-links .about a:hover {
    color: #7fd378;
  }
  .footer-text .footer-links .services a::after {
    background-color: #8f62d9;
  }
  .footer-text .footer-links .services a:hover {
    color: #8f62d9;
  }
  .footer-text .footer-links .blog a::after {
    background-color: #D44D4D;
  }
  .footer-text .footer-links .blog a:hover {
    color: #D44D4D;
  }
  .footer-text .footer-links .contact a::after {
    background-color: #ffcc00;
  }
  .footer-text .footer-links .contact a:hover {
    color: #ffcc00;
  }
  .footer-text .footer-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70%;
    overflow: visible;
  }
  .footer-text .footer-contact::after {
    display: block;
    content: "";
    background-image: url("./about-images/leaves2.png");
    background-repeat: no-repeat;
    background-size: contain;
    height: 125px;
    width: 125px;
    position: absolute;
    right: -45px;
    top: -90px;
  }
  .footer-text .footer-contact h2 {
    color: white;
    margin-bottom: 15px;
    padding-bottom: 5px;
    border-bottom: 4px solid #7fd378;
    padding-left: 75px;
  }
  .footer-text .footer-contact div {
    display: flex;
    flex-direction: column;
    padding-left: 50px;
    position: relative;
    margin: 7.5px 15px;
  }
  .footer-text .footer-contact a {
    color: white;
    margin-left: 40px;
    position: relative;
    margin-bottom: 15px;
    font-size: 1.125em;
  }
  .footer-text .footer-contact a:hover {
    transition: 0.2s;
    color: #7fd378;
  }
  .footer-text .footer-contact a:nth-child(1)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./about-images/mail.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    left: -30px;
    top: 1px;
  }
  .footer-text .footer-contact a:nth-child(2)::before {
    display: block;
    content: "";
    position: absolute;
    background-image: url("./about-images/phone.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 19px;
    height: 19px;
    left: -28px;
    top: 1px;
  }
}/*# sourceMappingURL=about-main.css.map */