// ==============================
//  Variables
// ==============================
$background: #3F3B51;
$blue: #38C6E5;
$green: #7fd378;
$greenDarker: darken($green, 10%);
$purple: lighten(#804DD4, 5%);
$purple2: #804DD4; //actual
$red: #D44D4D;
$yellow: #ffcc00;
$cyan: #3BCEB4;
$black: black;
$white: white;

$box-shadow: 1px 1px 3px #3f3b510e,
    1px -1px 3px #3f3b510e,
    -1px 1px 3px #3f3b510e,
    -1px -1px 3px #3f3b510e;


$box-shadow2: 1px 2px 0 darken($yellow, 5%),
    2px 4px 6px darken($background, 25%);

$box-shadow-hover: 1px 1px 1px darken(#3f3b513a, 100%),
    1px -1px 1px darken(#3f3b513a, 100%),
    -1px 1px 1px darken(#3f3b513a, 100%),
    -1px -1px 1px darken(#3f3b513a, 100%);

// ============================== 
//  Hero - About
// ==============================
.about-hero-text,
.about-hero-girl {
    transition: 0.2s;
}

@media screen and (min-width: 0px) {
    #hero {
        position: relative;
        overflow: visible;
        z-index: 500;
    }

    .about-hero-text {
        position: relative;

        p {
            color: $greenDarker;
            font-weight: 600;
            line-height: 1.25;

        }

        h1 {
            line-height: 1.25;
            // font-weight: 500;
        }
    }

    .about-hero-girl {
        position: absolute;
        content: '';
        background-image: url('./about-images/window-girl.png');
        background-repeat: no-repeat;
        background-size: contain;
        height: 100%;
    }
}

@media screen and (min-width: 0px) and (max-width: 849px) {
    #hero {
        display: flex;
        flex-direction: column;
    }

    .about-hero-text {
        width: 90%;
        max-width: 475px;
        margin: 25px auto;
        text-align: center;

        p {
            font-weight: 600;
            font-size: 1.75em;
            margin-bottom: 10px;
        }

        h1 {
            font-size: clamp(1.75em, 6vw, 3em);
        }
    }

    .about-hero-girl {
        display: none;
    }
}

@media screen and (min-width: 850px) {
    #hero {
        display: flex;
        flex-direction: row;
        margin-bottom: -350px;
        height: 650px;
    }
}

@media screen and (min-width: 850px) and (max-width: 999px) {
    .about-hero-text {
        margin-left: 25px;
        margin-top: 125px;
        width: 45%;

        p {
            font-size: 1.75em;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 2.5em;
        }
    }

    .about-hero-girl {
        right: -75px;
        margin-top: 60px;
        width: 650px;
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .about-hero-text {
        margin-left: 60px;
        margin-top: 150px;
        width: 40%;
        line-height: 1.5;

        p {
            font-size: 1.75em;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 2.5em;
        }

    }

    .about-hero-girl {
        right: -50px;
        margin-top: 75px;
        width: 700px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1349px) {
    .about-hero-text {
        margin-left: 60px;
        margin-top: 175px;
        width: 40%;

        p {
            font-size: 1.75em;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 2.5em;
        }
    }

    .about-hero-girl {
        right: -25px;
        margin-top: 75px;
        width: 750px;
    }
}

@media screen and (min-width: 1350px) and (max-width: 1499px) {
    .about-hero-text {
        margin-left: 75px;
        margin-top: 200px;
        width: 35%;

        p {
            font-size: 1.75em;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 2.75em;
        }

    }

    .about-hero-girl {
        right: 0px;
        margin-top: 75px;
        width: 850px;
    }
}

@media screen and (min-width: 1500px) and (max-width: 1699px) {
    .about-hero-text {
        position: absolute;
        margin-left: 125px;
        margin-top: 225px;
        width: 35%;

        p {
            font-size: 1.75em;
            margin-bottom: 10px;
        }

        h1 {
            font-size: 3em;
        }
    }

    .about-hero-girl {
        right: 25px;
        margin-top: 100px;
        width: 950px;
    }
}

@media screen and (min-width: 1700px) {
    .about-hero-text {
        position: absolute;
        margin-left: 125px;
        margin-top: 250px;
        width: 35%;

        p {
            font-size: 2em;

            margin-bottom: 10px;
        }

        h1 {
            font-size: 3.5em;
        }
    }

    .about-hero-girl {
        right: 75px;
        margin-top: 125px;
        width: 1000px;
    }
}

// ============================== 
//  My Journey 
// ==============================

@media screen and (min-width: 0px) {

    #journey {
        background-color: $background;
    }

    .journey-top-blob {
        background-color: $white;
        width: 100%;
    }

    .journey-container {
        max-width: 850px;
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: 25px auto;

        p:first-child {
            color: $green;
            font-weight: 700;
            font-size: 1.5em;
            margin-bottom: 0px;
        }

        h1 {
            width: 100%;
            color: $white;
            font-size: clamp(2em, 6vw, 3em);
            margin-bottom: 15px;
            line-height: 1.25;
        }

        p {
            color: $white;
            margin-bottom: 30px;
            line-height: 1.75;
            font-size: 1.125em;
        }

        .pathway {
            content: '';
            background-image: url('./about-images/pathway.png');
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            margin: 0 auto;
            width: 100%;
            max-width: 600px;
            height: 40vw;
            max-height: 350px;
            margin-bottom: 50px;
        }

        a {
            border-radius: 7.5px;
            border: 1px solid $green;
            color: $green;
            margin: 0 auto;
            min-width: 100px;
            padding: 17.5px 25px;
            font-weight: 700;
            transition: 0.3s;
            box-shadow: 1px 1px 5px #1a1a1a;
            margin-top: 25px;

            &:hover {
                background-color: white;
                color: #1a1a1a;
                transition: 0.3s;
                border: 1px solid #1a1a1a;
            }
        }

    }

    .journey-bottom-blob {
        background-color: $white;
        width: 100%;
        margin-bottom: -5px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 849px) {
    .journey-container a {
        margin-bottom: 25px;
    }
}

// ============================== 
//   What sets ARTSHA apart   
// ==============================
@media screen and (min-width: 0px) {
    #sets-apart {
        background-color: $white;
        width: 90%;
        max-width: 850px;
        margin: 0 auto;
        padding-top: 15px;
    }

    .sets-apart-header {
        position: relative;
        margin: 25px auto;
        text-align: left;
        text-align: center;

        h1 {
            margin: 0 auto;
            color: $black;
            font-size: clamp(3em, 6vw, 3.25em);
            line-height: 1;
            margin-bottom: 10px;

            .no-wrap {
                white-space: nowrap;
            }

            .green {
                color: $green;
                line-height: 1.25;
            }
        }

        p {
            max-width: 850px;
            margin: 0 auto;
            color: $black;
            margin-bottom: 50px;
            line-height: 1.75;
            font-size: 1.3em;
        }

    }

    .sets-items {
        h2 {
            font-size: 2em;
            border-left: 5px solid $green;
            padding-left: 12.5px;
            margin-bottom: 10px;
            margin-top: 50px;
            line-height: 1.25;
        }

        p {
            line-height: 1.75;
            margin-bottom: 25px;
            max-width: 500px;

            span {
                color: $greenDarker;
                font-weight: 600;
            }

            &:last-child {
                margin-bottom: 50px;
            }
        }
    }
}

@media screen and (min-width: 0px) and (max-width: 849px) {


    .sets-apart-container {
        display: flex;
        flex-direction: column-reverse;
        margin: 0 auto;
    }

    .sets-apart-header {
        margin-bottom: -25px;
    }

    .sets-left {
        margin: 0 auto;
        margin-top: -75px;
    }

    .sets-right {
        text-align: center;

        img {
            width: 90%;
            max-width: 500px;
            margin-bottom: 50px;
        }
    }

    .sets-buttons {
        display: flex;
        margin-top: 50px;
        margin-bottom: 150px;
        height: auto;

        a {
            padding: 17.5px 25px;
            border-radius: 7.5px;
            color: #000000;

            min-width: 125px;
            transition: 0.2s;
            text-align: center;

            &:hover {
                box-shadow: $box-shadow-hover;
            }
        }

        .contact-btn {
            background-color: $yellow;
            box-shadow:
                1px 2px 0 darken($yellow, 5%),
                2px 4px 6px darken($background, 25%);
            margin-right: 10px;
        }

        .services-btn {
            background-color: $white;
            box-shadow: 1px 2px 0 darken($white, 5%), 2px 4px 6px darken($background, 25%);
            margin-left: 10px;
        }
    }
}

@media only screen and (min-width: 850px) and (max-width: 1199px) {
    #sets-apart {
        width: 90%;
        padding-top: 15px;
    }

    .sets-apart-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .sets-left {
        margin: 0 auto;
    }

    .sets-right {
        width: 50%;
        position: relative;

        img {
            position: absolute;
            max-width: 550px;
            margin-top: 250px;
            margin-left: 25px;
            transition: 0.3s;
        }
    }

    .sets-buttons {
        display: flex;
        margin-top: 75px;
        margin-bottom: 100px;
        height: auto;

        a {
            padding: 17.5px 25px;
            border-radius: 7.5px;
            color: #000000;
            min-width: 125px;
            transition: 0.2s;
            text-align: center;

            &:hover {
                box-shadow: $box-shadow-hover;
            }
        }

        .contact-btn {
            background-color: $yellow;
            box-shadow:
                1px 2px 0 darken($yellow, 5%),
                2px 4px 6px darken($background, 25%);
            margin-right: 10px;
        }

        .services-btn {
            background-color: $white;
            box-shadow: 1px 2px 0 darken($white, 5%), 2px 4px 6px darken($background, 25%);
            margin-left: 10px;
        }
    }
}

@media only screen and (min-width: 1200px) {
    #sets-apart {
        width: 80%;
        padding-top: 15px;
    }

    .sets-apart-container {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
    }

    .sets-left {
        margin: 0 auto;
        margin-left: -50px;
    }

    .sets-right {
        width: 50%;
        position: relative;

        img {
            position: absolute;
            max-width: 650px;
            margin-top: 175px;
            margin-left: 25px;
            transition: 0.3s;
        }
    }

    .sets-buttons {
        display: flex;
        margin-top: 50px;
        margin-bottom: 100px;
        height: auto;

        a {
            padding: 17.5px 25px;
            border-radius: 7.5px;
            color: #000000;

            min-width: 125px;
            transition: 0.2s;
            text-align: center;

            &:hover {
                box-shadow: $box-shadow-hover;
            }
        }

        .contact-btn {
            background-color: $yellow;
            box-shadow:
                1px 2px 0 darken($yellow, 5%),
                2px 4px 6px darken($background, 25%);

            margin-right: 10px;
        }

        .services-btn {
            background-color: $white;
            box-shadow: 1px 2px 0 darken($white, 5%), 2px 4px 6px darken($background, 25%);
            margin-left: 10px;
        }
    }

}


// ==============================
//  Footer 
// ==============================

@media only screen and (min-width: 0px) {
    .footer-bottom-blob {
        width: 100%;
        position: relative;
        z-index: 999;
        margin-top: -75px;
    }

    .footer-container {
        overflow: visible;
        background-color: $background;
        height: auto;
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: -5px;
        padding-bottom: 25px;
    }

    .footer-logo {
        margin: 0 auto;
        margin: 50px auto;

        img {
            height: calc(75px + 5vw);
            max-height: 110px;
        }
    }

    .footer-bottom {
        background-color: $green;
        height: 25px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;

        a {
            color: $black;
        }

        a:hover {
            color: white;
            transition: 0.2s;
        }
    }

    .footer-links {
        position: relative;
        height: auto;

        .home a::after {

            background-color: $blue;
        }

        .home a:hover {
            color: $blue;
        }

        // ACTIVE (width: 100%)
        .about a::after {
            width: 100%;
            background-color: $green;
        }

        .about a:hover {
            color: $green;
        }

        .services a::after {
            background-color: $purple;
        }

        .services a:hover {
            color: $purple;
        }

        .blog a::after {
            background-color: $red;
        }

        .blog a:hover {
            color: $red;
        }

        .contact a::after {
            background-color: $yellow;
        }

        .contact a:hover {
            color: $yellow;
        }
    }

    .footer-contact {

        .email:hover,
        .phone:hover {
            transition: 0.2s;
            color: $green;
        }
    }
}

@media only screen and (min-width: 0px) and (max-width: 849px) {

    .footer-text {
        width: 80%;
        margin: 0 auto;
        max-width: 1600px;
        display: flex;
        flex-direction: column;
        overflow: visible;
        margin-bottom: 10px;

        .footer-navigation {
            overflow: visible;

            h2 {
                color: white;
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 4px solid $green;
            }

            ul {
                display: flex;
                flex-direction: column;

                li {
                    overflow: visible;
                    margin: 15px 0px;

                    a {
                        color: white;
                        padding: 10px;
                        margin-left: -10px;
                    }
                }

            }
        }

        .footer-contact {
            margin-top: 50px;
            margin-bottom: 25px;
            position: relative;
            overflow: visible;

            &::before {
                display: block;
                content: '';
                background-image: url('./about-images/leaves2.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 125px;
                width: 125px;
                position: absolute;
                right: -45px;
                bottom: 103px;

            }

            h2 {
                color: white;
                border-bottom: 4px solid $green;
                margin-bottom: 25px;
                padding-bottom: 5px;
            }

            div {
                position: relative;
                display: flex;
                flex-direction: column;
                justify-items: center;

                a {
                    color: white;
                    margin-left: 30px;
                    margin-bottom: 20px;

                    &:hover {
                        text-decoration: solid 1px $green;
                    }

                }

                a:nth-child(1)::before {
                    content: '';
                    position: absolute;
                    background-image: url('./about-images/mail.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 20px;
                    height: 20px;
                    top: -2px;
                    left: 0;
                }

                a:nth-child(2)::before {
                    content: '';
                    position: absolute;
                    background-image: url('./about-images/phone.png');
                    background-size: contain;
                    background-repeat: no-repeat;
                    width: 19px;
                    height: 19px;
                    bottom: 22px;
                    left: 2px;
                }
            }
        }
    }

}

@media only screen and (min-width: 850px) and (max-width: 1199px) {

    .footer-text {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: 75px auto;
        justify-content: space-around;
        overflow: visible;

        &::after {
            border-bottom: 4px solid #3BD3F4;
        }

        .footer-navigation {
            width: 70vw;
            position: relative;
            overflow: visible;

            &::before {
                display: block;
                content: '';
                background-image: url('./about-images/leaves.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 125px;
                width: 125px;
                position: absolute;
                left: 0px;
                top: -90px;
            }


            h2 {
                color: white;
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 4px solid $green;
                padding-left: 110px;
            }

            ul {

                display: flex;
                flex-direction: row;

                li {
                    line-height: 1.75;
                    margin: 2.5px 10px;

                    a {
                        color: white;
                        padding: 5px;
                    }

                    .home {
                        text-decoration: 3px solid $green underline;
                        text-underline-offset: 2px;
                    }

                    .about:hover {
                        text-decoration: 3px solid #7fd378 underline;
                        text-underline-offset: 2px;
                    }

                    .services:hover {
                        text-decoration: 3px solid $purple underline;
                        text-underline-offset: 2px;
                    }

                    .blog:hover {
                        text-decoration: 3px solid #e38025 underline;
                        text-underline-offset: 2px;
                    }

                    .contact:hover {
                        text-decoration: 3px solid $yellow;
                        text-underline-offset: 2px;
                    }

                }
            }
        }

        .footer-contact {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 70%;
            overflow: visible;

            &::after {
                display: block;
                content: '';
                background-image: url('./about-images/leaves2.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 125px;
                width: 125px;
                position: absolute;
                right: -45px;
                top: -90px;
            }

            h2 {
                color: white;
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 4px solid $green;
                padding-left: 75px;
            }

            div {
                display: flex;
                flex-direction: column;
                padding-left: 50px;
                position: relative;
                margin: 7.5px 15px;
            }

            a {
                color: white;
                margin-left: 40px;
                margin-bottom: 20px;
            }

            a:nth-child(1)::before {
                display: block;
                content: '';
                position: absolute;
                background-image: url('./about-images/mail.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                left: 60px;
                top: -2px;

            }

            a:nth-child(2)::before {
                display: block;
                content: '';
                position: absolute;
                background-image: url('./about-images/phone.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 19px;
                height: 19px;
                left: 62px;
                bottom: 22px;
            }
        }
    }

    // ---------------------
    // Underline Transition
    // ---------------------
    .footer-links a {
        position: relative;

        &:hover {
            transition: 0.1s;
        }

        &::after {
            content: '';
            position: absolute;
            left: 0;
            bottom: -5px;
            width: 0;
            height: 3px;
            transition: width 0.2s ease-in-out;
        }

        &:hover::after {
            width: 100%;
        }
    }

    .footer-links {
        position: relative;
        height: auto;

        .home a::after {
            background-color: $blue;
        }

        .home a:hover {
            color: $blue;
        }

        // ACTIVE (width: 100%)
        .about a::after {
            width: 100%;
            background-color: $green;
        }

        .about a:hover {
            color: $green;
        }

        .services a::after {
            background-color: $purple;
        }

        .services a:hover {
            color: $purple;
        }

        .blog a::after {
            background-color: $red;
        }

        .blog a:hover {
            color: $red;
        }

        .contact a::after {
            background-color: $yellow;
        }

        .contact a:hover {
            color: $yellow;
        }
    }

    .footer-contact {

        a {

            &:hover {
                transition: 0.2s;
                color: $green;
            }
        }
    }

}

@media only screen and (min-width: 1200px) {

    .footer-container {
        margin-top: -50px;
    }

    .footer-text {
        display: flex;
        flex-direction: row;
        width: 80%;
        max-width: 1400px;
        margin: 0 auto;
        justify-content: space-around;
        margin: 75px auto;
        overflow: visible;

        &::after {
            border-bottom: 4px solid #3BD3F4;
        }

        .footer-navigation {
            width: 70vw;
            position: relative;
            overflow: visible;

            &::before {
                display: block;
                content: '';
                background-image: url('./about-images/leaves2.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 125px;
                width: 125px;
                position: absolute;
                left: 0px;
                top: -90px;
            }

            h2 {
                color: $white;

                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 4px solid $green;
                padding-left: 110px;
            }

            ul {
                display: flex;
                flex-direction: row;
                margin-left: 90px;

                li {
                    line-height: 1.75;
                    margin: 2.5px 12.5px;

                    a {
                        color: white;
                        padding: 5px;
                    }

                    .home {
                        text-decoration: 3px solid #38C6E5 underline;
                        text-underline-offset: 2px;
                    }

                    .about:hover {
                        text-decoration: 3px solid #7fd378 underline;
                        text-underline-offset: 2px;
                    }

                    .services:hover {
                        text-decoration: 3px solid $purple underline;
                        text-underline-offset: 2px;
                    }

                    .blog:hover {
                        text-decoration: 3px solid #e38025 underline;
                        text-underline-offset: 2px;
                    }

                    .contact:hover {
                        text-decoration: 3px solid $yellow;
                        text-underline-offset: 2px;
                    }

                }
            }
        }

        // ---------------------
        // Underline Transition
        // ---------------------
        .footer-links a {
            position: relative;
            font-size: 1.125em;

            &:hover {
                transition: 0.1s;
            }

            &::after {
                content: '';
                position: absolute;
                left: 0;
                bottom: -5px;
                width: 0;
                height: 3px;
                transition: width 0.2s ease-in-out;
            }

            &:hover::after {
                width: 100%;
            }
        }

        .footer-links {
            position: relative;
            height: auto;

            // ACTIVE (width: 100%)
            .home a::after {
                background-color: $blue;
            }

            .home a:hover {
                color: $blue;
            }

            .about a::after {
                width: 100%;
                background-color: $green;
            }

            .about a:hover {
                color: $green;
            }

            .services a::after {
                background-color: $purple;
            }

            .services a:hover {
                color: $purple;
            }

            .blog a::after {
                background-color: $red;
            }

            .blog a:hover {
                color: $red;
            }

            .contact a::after {
                background-color: $yellow;
            }

            .contact a:hover {
                color: $yellow;
            }
        }

        // ---------------------

        .footer-contact {
            position: relative;
            display: flex;
            flex-direction: column;
            width: 70%;
            overflow: visible;


            &::after {
                display: block;
                content: '';
                background-image: url('./about-images/leaves.png');
                background-repeat: no-repeat;
                background-size: contain;
                height: 125px;
                width: 125px;
                position: absolute;
                right: -45px;
                top: -90px;
            }

            h2 {
                color: white;
                margin-bottom: 15px;
                padding-bottom: 5px;
                border-bottom: 4px solid $green;
                padding-left: 75px;
            }

            div {
                display: flex;
                flex-direction: column;
                padding-left: 50px;
                position: relative;
                margin: 7.5px 15px;

            }

            a {
                color: white;
                margin-left: 40px;
                position: relative;
                margin-bottom: 15px;
                font-size: 1.125em;

                &:hover {
                    transition: 0.2s;
                    color: $green;
                }

            }

            a:nth-child(1)::before {
                display: block;
                content: '';
                position: absolute;
                background-image: url('./about-images/mail.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 20px;
                height: 20px;
                left: -30px;
                top: 1px;
            }

            a:nth-child(2)::before {
                display: block;
                content: '';
                position: absolute;
                background-image: url('./about-images/phone.png');
                background-size: contain;
                background-repeat: no-repeat;
                width: 19px;
                height: 19px;
                left: -28px;
                top: 1px;
            }
        }
    }

}